<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Training Plan
    </ion-title>
    <ion-button fill="clear" slot="end" (click)="savePlan()">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      Save Plan
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title fill="clear" slot="end">Training Week</ion-title>
    <ion-button>1</ion-button> 
    <ion-button fill="outline">2</ion-button> 
    <!-- <ion-button fill="clear" slot="end" (click)="savePlan()"> -->
    <ion-button>
      <ion-icon slot="icon-only" fill="outline" name="add-outline"></ion-icon>
    </ion-button> 
  </ion-toolbar>
  <app-training-week></app-training-week>
</ion-header>
